---
title: Portfolio
layout: default
---
<!-- <link rel="stylesheet" href="{{ '/assets/css/about.css' | relative_url }}"> -->
<div class="main-portfolio--container section-container">
  {% include step-number.html step_num="" %}
  <div class="section-wrapper section-wrapper-5 with-sticky">
    <div class="section-title">Latest Projects</div>
    <div class="section-sub-title">Shopify & Shopify Plus</div>
  </div>

  {% assign colours = site.data.marquee | map: "colour" | join: "," %}
  <script>
    window.colours = "{{ colours }}";
  </script>

  {% for project in site.posts %}
  <project-card class="section-wrapper section-wrapper-3">
    <a href="{{ project.permalink }}" class="section-projects--project visible-animation">
      <div class="section-title">{{ project.project_title }}</div>
      <div class="section-sub-title">{{ project.sub_title }}</div>

      <div class="section-image--container background-with-random-colour">
        <div class="section-image--wrapper">
          <img
            class="section-image"
            src="{{ project.image_00 }}"
            alt="{{ project.project_title }}"
          />
        </div>
      </div>

      <div class="project-overflow-link">
        <span class="common-btn-with-arrow" alt="{{ project.project_title }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
            <path d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
            <path d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z"/>
          </svg>
        </span>
      </div>
    </a>
  </project-card>
  {% endfor %}

</div>