---
title: Style Guide
---


<div class="section-style-guide">
  <h1 class="section-style-guide--title">Style Guide</h1>

  <div class="style-item--sub-title">Buttons</div>

  <div class="style-item--wrapper">
    <div class="style-item--code">
      <span>{% raw %}{% include buttons/btn-with-arrow.html url="#" text="text" %}{% endraw %}</span>
    </div>
    <div class="style-item--preview">
      {% include buttons/btn-with-arrow.html url="#" text="text" %}
    </div>
  </div>



  <div class="style-item--sub-title">Colours</div>
  <div class="style-item--wrapper">
    <div class="style-item--code">
      <span>$colour-primary-white</span>
      <span>#ffffff</span>
    </div>
    <div class="style-item--preview">
      <div class="style-item--colour" style="background-color: #ffffff;"></div>
    </div>
  </div>

  <div class="style-item--wrapper">
    <div class="style-item--code">
      <span>$colour-primary-black</span>
      <span>#111111</span>
    </div>
    <div class="style-item--preview">
      <div class="style-item--colour" style="background-color: #111111;"></div>
    </div>
  </div>

  <div class="style-item--wrapper">
    <div class="style-item--code">
      <span>$colour-grey-1</span>
      <span>#707070</span>
    </div>
    <div class="style-item--preview">
      <div class="style-item--colour" style="background-color: #707070;"></div>
    </div>
  </div>

  
  <div class="style-item--sub-title">Divider</div>
  <div class="style-item--wrapper">
    <div class="style-item--code">
      <span>.section-divider</span>
    </div>
    <div class="style-item--preview">
      <div class="section-divider"></div>
    </div>
  </div>

</div>