{% assign hero_banner_image = '/assets/images/banners/hero.jpg' %}
<hero-banner class="hero-banner with-parallax section-container-v2">
  <div class="hero-banner__image">
    {% include image.html
      image_url=hero_banner_image
      src_widths="400,600,800,1000,1200,1600"
      alt="MMS Studio - Hero Image"
      class="hero-banner__img" 
      attributes="data-parallax-image" 
    %}
  </div>

  <div class="hero-banner__content section__content">
    <div class="hero-banner__ad">
      <div class="section__content-lg">{{ site.hero_ad_title }}</div>
      <div class="hero-banner__ad-text section__content-sm">{{ site.hero_ad_text }}</div>
    </div>
    <div class="hero-banner__content-text">
      <h1 class="section__content-lg">{{ site.site_name }}</h1>
      {{ site.studio_intro }}
    </div>
  </div>
</hero-banner>
