<div class="section-container">
  <div class="section-wrapper">
    <div class="section-title">{{ site.author }}©</div>
    <div class="section-sub-title">{{ site.position }}</div>
  </div>
  <div class="section-wrapper">
    <div class="section-content with-overlay">{{ site.author_intro }}</div>
    <div class="section-divider"></div>
    <div class="section-link__container">
      <div class="section-description">
        [about me]
      </div>
      <div class="section-link__wrapper">
        {% include buttons/btn-with-arrow.html url="/about/" text="About Me" %}
      </div>
    </div>
  </div>
</div>