.global-header {
  display: flex;
  gap: 1rem;
  align-items: flex-end;

  padding: 0 0 2rem 0;

  .global-header__title {
    font-size: 8rem;
    font-weight: 600;
    color: $colour-primary-black;
    text-transform: uppercase;
  }

  .global-header__site {
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 1.25rem;
    padding: 0 1rem;
    margin: 0 0 1.6rem 0;
    background-color: $colour-primary-black;
    color: $colour-primary-white;
    text-decoration: none;

    font-size: 1.3rem;
    text-transform: uppercase;
  }
}