.marquee-container {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem 0;

  position: sticky;
  top: 0;
  z-index: 9;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  min-width: 100%;
  padding-left: 100%;
  animation: scroll 30s linear infinite;

  span {
    margin: 0 20px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 2rem));
  }
}