$colour-primary-white: #ffffff;
$colour-primary-black: #111111;

$colour-grey-1: #707070;
$colour-grey-2: #222222;
$colour-grey-3: #ffffffb3;
$colour-grey-4: #ffffff15;
$colour-grey-5: #333333;

$colour-white-1: #dddddd;